*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: cursive, monospace;
}

body{
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(pic2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.top{
	width: 80vw;
	height: 60vh;
	backdrop-filter: blur(10px);
	margin-top: 4em;
	border-radius: 20px;
	border: 1px solid #162733;
}

.home{
	width: 80vw;
	top: 0;
	padding: 10px 20px;
	border: 1px solid #111d26;
	text-align: center;
	backdrop-filter: blur(3px);
	color: white;
	border-radius: 20px;
}

.home h1{
	color: white;
	text-transform: capitalize;
	font-size: 60px;
	padding: 10px 20px;
}

.home h3{
	color: white;
}


.min-nav a{
	margin: 30px;
	font-size: 24px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
}
